<div class="row well">
    <div class="media">
        <div class="media-left">
            <div class="frame"
                 style="margin: 0 0.3em; border-right-style: solid;">

            </div>

        </div>
        <div class="media-body">
            <h3 class="media-heading">Selecciona un area de la imagen.</h3>
            {{vm.image | json}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-md-6">

        <form class="form">
            <div class="form-group">
                <label class="control-label">
                    Video
                </label>
                <select class="form-control" ng-options="option as option.name for option in vm.videos"
                        ng-model="vm.selectedVideo"></select>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Frame
                </label>
                <div ui-slider min="0" max="{{vm.selectedVideo.framesSaved}}" ng-model="vm.frameNumber"
                     ng-change="vm.fetchFrame()"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"> Frame number:</div>
                    <input type="number" ng-model="vm.frameNumber" class="form-control">
                    <div class="input-group-btn">

                        <button class="btn btn-default" ng-click="vm.fetchFrame()">Fetch Frame</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="col col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Video Information
                </div>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{vm.selectedVideo.name}}</dd>
                    <dt>Codec Name</dt>
                    <dd>{{vm.selectedVideo.metadata.streams[0].codec_name}}</dd>
                    <dt>Duration</dt>
                    <dd>{{vm.selectedVideo.metadata.streams[0].duration}}</dd>
                    <dt>Number of frames</dt>
                    <dd>{{vm.selectedVideo.metadata.streams[0].nb_frames}}</dd>
                    <dt>Status</dt>
                    <dd>{{vm.selectedVideo.estado}}</dd>
                    <dt>Frames generados</dt>
                    <dd>{{vm.selectedVideo.framesSaved}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-md-8">
        <img id="photo" ng-src="{{vm.imageUrl}}" style="width: 100%; height: auto" img-area-select="">
    </div>
    <div class="col col-md-4">
        <form class="form">
            <div class="form-group">
                <label class="control-label">Comentarios</label>
                <textarea class="form-control" ng-model="vm.comments">

                </textarea>
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-danger">
                    Cancelar
                </button>
                <button class="btn btn-primary">
                    Confirmar
                </button>
            </div>
        </form>
        <div class="row">

            <div id="preview" style="width: 100px; height: 100px; overflow: hidden;">
                <img style="width: 100px;height: 100px;" ng-src="{{vm.imageUrl}}">
            </div>
        </div>
    </div>

</div>
