<div class="row well">
    <div class="media">
        <div class="media-left">
            <div class="frame"
                 style="margin: 0 0.3em; border-right-style: solid;">

            </div>

        </div>
        <div class="media-body">
            <h3 class="media-heading">Selecciona un area de la imagen.</h3>
            {{vm.image | json}}
        </div>
    </div>
</div>
<div class="row">

    <form class="form">
        <div class="form-group">
            <label class="control-label">
                Video
            </label>
            <select class="form-control" ng-options="option as option.name for option in vm.videos"
                    ng-model="vm.selectedVideo"></select>
        </div>
    </form>
</div>
<div class="row">
    <div class="col col-md-8">
        <img id="photo" ng-src="{{vm.imageUrl}}" style="width: 100%; height: auto" img-area-select="">
    </div>
    <div class="col col-md-4">
        <form class="form">
            <div class="form-group">
                <label class="control-label">Comentarios</label>
                <textarea class="form-control" ng-model="vm.comments">

                </textarea>
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-danger">
                    Cancelar
                </button>
                <button class="btn btn-primary">
                    Confirmar
                </button>
            </div>
        </form>
        <div class="row">

            <div id="preview" style="width: 100px; height: 100px; overflow: hidden;">
                <img style="width: 100px;height: 100px;" ng-src="{{vm.imageUrl}}">
            </div>
        </div>
    </div>

</div>
